extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Login
        div.Message
            div.Title
                h2 You must
                h3 login below
            span.Details Please login below
        div.NavButtons
            a(href="/dashboard")
                div.NavButton Go to Dashboard
//-
            if LoginSuccess
                a(href="/dashboard")
                    div.NavButton Return to session
            else
                a(href="/login")
                    div.NavButton Log in
