extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Daniel Choi
    div.Message
      div.Title
        h2 I'm Having fun
        h3 Making this website!
      span.Details Please login below
    div.NavButtons
      if isAuthenticated
        a(href="/dashboard")
          div.NavButton Return to session
      else
        a(href="/login")
          div.NavButton Log in