extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Login
        div.Message
            div.Title
                h2 You must
                h3 login below
            span.Details Please login below